.jumbotron{
  background-image: url("https://t0.rbxcdn.com/5ad47eab2c2fc63900345cb41ea579bc");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-image: url("http://media.gettyimages.com/vectors/movie-and-cinema-vector-icons-seamless-pattern-eps10-vector-id474403074?s=170667a&w=1007");
  background-repeat: repeat;
  background-size: ;
}
